<div class="github hidden-phone">
    <a href="https://github.com/dak1/cv">
        <img src="img/github.png" alt="Fork me on GitHub">
    </a>
</div>

<nav>
    <h1>Derek Kent</h1>
    <h3>Full-stack Web App Developer</h3>

    <div class="navbar">
        <ul class="nav">
            <li class="{{#is page 'home'}}active{{/is}}"><a href="home" class="nav-item">Home</a></li>
            <li class="{{#is page 'history'}}active{{/is}}"><a href="history" class="nav-item">History</a></li>
            <li class="{{#is page 'experience'}}active{{/is}}"><a href="experience" class="nav-item">Experience</a></li>
            <li class="{{#is page 'contact'}}active{{/is}}"><a href="contact" class="nav-item">Contact</a></li>
        </ul>
    </div>
</nav>
